<div class="mdl-cell mdl-cell--12-col show-url">
  <h3>Here's Your Gatorly Link</h3>
  <h4 id="gatorly-link"><%= @gurl.gatorly_url %></h4>
  <p><%= @quote.body %></p>
  <p>-<%= @quote.author %></p>
</div>